<style>
/* 只展开第一级子菜单，更深的保持默认行为 */
.site-nav > ul.nav-list > li.nav-list-item > ul.nav-list {
  display: block !important;
}
.site-nav > ul.nav-list > li.nav-list-item > button.nav-list-expander svg {
  transform: rotate(-90deg) !important;
}
</style>

<script>
  var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?372b5472ea29351e3401a07a2b569464";
    var s = document.getElementsByTagName("script")[0]; 
    s.parentNode.insertBefore(hm, s);
  })();
</script>  